@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@import "tailwindcss";


/* Custom Utilities */
@utility container {
	margin-inline: auto;
	padding-inline:  1rem;
}

@theme{
  /* Font Family */
    --font-inter: 'Inter', sans-serif;
    --font-titillium: 'Titillium Web', sans-serif;
    --font-archivo: 'Archivo', sans-serif;
    --font-rubik: 'Rubik', sans-serif;

  
  /* Breakpoints */
  --breakpoint-*: initial;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 82.625rem;


  /* Colors */
   --color-home :#FF6600;
  --color-black_900 :#171717;
  --color-black_800 :#6E777D;
  --color-black_700 :#232323;
}